{% include 'header.html' %}

<div class="main">
    <h1>My, myself and I</h1>
    <p class="about">
        I'm a backend python developer located in Saint-Petersburg.
        I have a great passion for software engineering, making APIs,
        building bots, backend for sites, logical tasks.
        I love technologies!<br><br>

        I'm well-organised and responsible person, also good at working communication.
        During my free time I'm going to the gym, also fan of historical fencing.
        I'm reading books - technical, science-fiction, business,
        or may play some game.<br><br>

        Interested in backend spectrum(Flask, Django) and working with positive people!
    </p>
</div>

{% include 'footer.html' %}